.AuthMenu {
    position: absolute;
    background: white;
    // border: 1px solid #8585857c;
    color: black;
    top: 3.5rem;
    width: 10rem;
    right: 5rem;
    padding: 1rem 0;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    transition: all .2s;

    a {
        color: black;
    }


    & ul {
        list-style: none;
    }

    &::before {
        content: "";
        height: 1rem;
        width: 1rem;
        background: white;
        position: absolute;
        top: -.5rem;
        right: .3rem;
        transform: rotateZ(45deg);
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.26);
    }

    &::after {
        content: "";
        height: 2rem;
        width: 3rem;
        background: white;
        position: absolute;
        top: 0rem;
        right: 0rem;

    }
}