.mobile {
    margin-bottom: 2rem;
}

.HeroImg {
    // background-size: cover;
    // background-position: center;
    background-origin: content-box;
    height: 90vh;
    width: 100%;
    // position: fixed;
}