.Nav {
    height: 3rem;
    background: #FF5733;
    padding: 0rem 4rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0%;
    box-shadow: 0px 4px 10px #4b4b4b5d;
    

    &MainText{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.6rem;
    }

    &Search {
        width: 30%;

        &:focus {
            width: 33%;
        }
    }

    &ButtonsList {
        margin-top: .5rem;
        // margin-right: 1.5rem;
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: center;

        li {
            margin-right: 1rem;
        }

    }

    &AuthButton {
        background: #F34C28;
        // font-size: 1.2rem;
        height: 2rem;
    }

    &Profile {
        // width: 10%;
        height: 2rem;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
    }

    &Cart {
        font-size: 2rem;
        color: #dfe3f3;
    }
}

a:active,
a:visited,
a:hover {
    color: white;
    text-decoration: none;
}