.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {

    display: block;
    font-weight: bold;
    margin-bottom: 8px;

}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background: white;
    font: inherit;
    padding: 6px 10px;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background: #ccc;
}

.Invalid {
    border: 1px solid #ff7a6b;
    background: #ff7a6b;
}