.Button {
    // background: #4364F7;
    color: white;
    padding: .2rem .5rem;
    outline: none;
    border: 1px solid #F34C28;
    background: #F34C28;
    text-transform: uppercase;
    border-radius: 3px;
    // font-size: 1.2rem;
}